{% extends 'app/layout.html' %}

{% block body %}


<div id="content-page">
    <a href="{% url 'index' %}">
        <span id="back-btn" class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h3 id="content-title">Things to do</h3>    
    <div id="content">
        <button data-type="activity" class="save-positions btn-subtle" style="margin-right: 16px;">Save order</button>
        <button data-type="activity" class="new-item-btn btn-subtle" style="margin-bottom: 32px;">Add new activity</button>
        <div id="sortable" class="list-group">
            {% for activity in activitys %}
                <div class="list-group-item activity" id="{{ activity.id }}" data-type="activity">
                    <div class="buttons">
                        <span class="drag-btn material-symbols-outlined">
                            drag_handle
                        </span>
                        <div class="edit-btn-group">
                            <button class="edit-btn non-edit" data-action="edit" style="display: block;">
                                <span class="edit-icon material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button class="edit-confirm edit" data-action="confirm" style="display: none;">
                                <span class="confirm-icon material-symbols-outlined">
                                    check
                                </span>
                            </button>
                            <button class="edit-cancel edit" data-action="cancel" style="display: none;">
                                <span class="cancel-icon material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </div>
                        <button class="delete-btn non-edit" data-action="delete">
                            <span class="delete-icon material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </div>
                    <div class="editable">
                        <div class="editable-title non-edit display">{{ activity.title }}</div>
                        <label class="title-edit-label edit-label edit" for="title-edit" style="display: none;">Title</label>
                        <textarea class="title-edit edit user-input" data-name="title">{{ activity.title }}</textarea>

                        <div class="editable-drive non-edit"><span class="display">{{ activity.drive_time }}</span> minute drive</div>
                        <label class="drive-edit-label edit-label edit" for="drive-edit" style="display: none;">Drive time</label>
                        <textarea class="drive-edit edit user-input" data-name="drive_time">{{ activity.drive_time }}</textarea>
                        
                        <div class="editable-text non-edit display">{{ activity.text }}</div>
                        <label class="text-edit-label edit-label edit" for="text-edit" style="display: none;">Text</label>
                        <textarea class="text-edit edit user-input" data-name="text">{{ activity.text }}</textarea>

                        <div href="{{ eat.website }}" class="editable-website non-edit"><span style="color: #636758;">website: </span><a class="website display" href="{{ activity.website }}">{{ activity.website }}</a></div>
                        <label class="website-edit-label edit-label edit" for="website-edit" style="display: none;">Website</label>
                        <textarea class="website-edit edit user-input" data-name="website">{{ activity.website }}</textarea>

                        <form action="{% url 'upload_image' activity.id %}" method="post" class="img-form edit" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Upload</button>
                        </form>

                        <button class="img-remove edit" data-action="rmv-img" style="display: none;">Remove current image</button>

                        {% if activity.image %}
                            <div class="non-edit" style="width: 100px; height: 100px;">
                                <img style="max-width: 100%; max-height: 100%;" src="{{ activity.image.url }}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="static/app/js/Sortable.min.js"></script>
<script src="static/app/js/main.js"></script>


{% endblock %}