{% extends 'app/layout.html' %}

{% block body %}

<div id="content-page">
    <a href="{% url 'index' %}">
        <span id="back-btn" class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h3 id="content-title">Essential information</h3>    
    <div id="content">
        <button data-type="info" class="save-positions btn-subtle" style="margin-right: 16px;">Save order</button>
        <button data-type="info" class="new-item-btn btn-subtle" style="margin-bottom: 32px;">Add new info</button>
        <div id="sortable" class="list-group">
            {% for info in infos %}
                <div class="list-group-item info" id="{{ info.id }}">
                    <div class="buttons">
                        <span class="drag-btn material-symbols-outlined">
                            drag_handle
                        </span>
                        <div class="edit-btn-group">
                            <button class="edit-btn" data-action="edit" style="display: block;">
                                <span class="edit-icon material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button class="edit-confirm" data-action="confirm" style="display: none;">
                                <span class="confirm-icon material-symbols-outlined">
                                    check
                                </span>
                            </button>
                            <button class="edit-cancel" data-action="cancel" style="display: none;">
                                <span class="cancel-icon material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </div>
                        <button class="delete-btn" data-action="delete">
                            <span class="delete-icon material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </div>
                    <div class="editable">
                        <div class="editable-title">{{ info.title }}</div>
                        <label class="title-edit-label edit-label" for="title-edit" style="display: none;">Title</label>
                        <textarea class="title-edit">{{ info.title }}</textarea>
                        <div class="editable-text">{{ info.text }}</div>
                        <label class="text-edit-label edit-label" for="text-edit" style="display: none;">Text</label>
                        <textarea class="text-edit">{{ info.text }}</textarea>
                        <div class="editable-subtext">{{ info.subtext }}</div>
                        <label class="subtext-edit-label edit-label" for="subtext-edit" style="display: none;">Subtext</label>
                        <textarea class="subtext-edit">{{ info.subtext }}</textarea>
                        <form action="{% url 'upload_image' info.id %}" method="post" class="img-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Upload</button>
                        </form>
                        <button class="img-remove" data-action="rmv-img" style="display: none;">Remove current image</button>
                        {% if info.image %}
                            <img src="{{ info.image.url }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="static/app/js/Sortable.min.js"></script>
<script src="static/app/js/main.js"></script>

{% endblock %}