$paragraph-color: #464A3B;
$text-color: #636758;
$secondary-color: #D6DCC6;
$background-color: #E2E6D7;
$edit-color: #7882DF;
$danger-color: #D94343;
$confirm-color: #5D9459;
$low-vis-icon-color: rgba(227, 231, 216, 0.5);
$box-shadow: 0px 1px 1.5px 0px rgba(70, 74, 59, 0.50), 0px 2px 7px 0px rgba(70, 74, 59, 0.50);